<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="adce6863-ad4c-4453-a509-8390ce0ead9d"
            Publisher="CN=Mike"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>HelloSLC</DisplayName>
    <PublisherDisplayName>Mike</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="HelloSLC.App">
        <VisualElements
            DisplayName="HelloSLC"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="HelloSLC"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>